<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Company Sign In</h1>

		<body bgcolor="lightgrey">

			<form action="CompanyHome.html" autocomplete="on" method = "POST" enctype="multipart/form-data">

				Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="company_id" autofocus size="40"><br><br>
				
				Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="company_password"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">SIGN IN</button>

			</form>
<a href="CompanyRegister.html">Sign Up</a>
		</body>

	</font>
</center>
</html>
