<!DOCTYPE html>
<html>
<head>
	<title>Post Intenrhsip Jobs</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Intenrhsip Job Post</h1>

		<body bgcolor="lightgrey">

			<form action="/jobposting" autocomplete="on" method = "POST" enctype="multipart/form-data">


		  		Company ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="comp_id"><br><br>

                Job Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="job_id"><br><br>

		  		Job Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="job_name"><br><br>

		  		Job Description:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="std_pass"><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Post Job</button>

			</form>
		</body>

	</font>
</center>
</html>

