<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Company Register</h1>

		<body bgcolor="lightgrey">

			<form action="/CompanyRegister.html" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		Company ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="comp_id" autofocus size="40"><br><br>

		  		Company Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="comp_name"><br><br>

		  		Industry:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="comp_industry"><br><br>

		  		Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="comp_password"><br><br>

		  		Confirm Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="comp_confirm_password"><br><br>

		  		Company Addess:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="comp_address"><br><br>

		  		Image: <input type=file name="company_image" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">SIGN UP</button>

			</form>
<a href="CompanyLogin.html">Sign In</a>
		</body>

	</font>
</center>
</html>

