<!DOCTYPE html>
<html>
<head>
	<title> Index Intenrhsip</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Student Sign Up</h1>

		<body bgcolor="lightgrey">

             <a href="{{url_for('toStdLogin')}}"><button class="btn btn--primary btn--small u-fullwidth">Student Login</button></a>

             <a href="{{url_for('toStdSignUp')}}"><button class="btn btn--primary btn--small u-fullwidth">Company</button></a>

             <a href="{{url_for('toStdHomePage')}}"><button class="btn btn--primary btn--small u-fullwidth">Staff</button></a>

             <a href="{{url_for('toStdViewProfilePage')}}"><button class="btn btn--primary btn--small u-fullwidth">Supervisor</button></a>

		</body>

	</font>
</center>
</html>

