<!DOCTYPE html>
<html>
<head>
	<title>View Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Company Information</h1>

		<body bgcolor="lightgrey">

			<form action="/stdapplyintern" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<div>

					<table border="1">
                        <tr>
                            <th>Company Name</th>
                            <th>Company Industries</th>
                            <th>Company Address</th>
                            <th>Job ID</th>
							<th>Job Name</th>
                            <th>Job Description</th>
                        </tr>
                        {% for row in company_job_data %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <!-- <td>{{ row[4] }}</td> -->
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
					<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Apply Intern</button>	
			  	</div>
				  
			</form>

		</body>

	</font>
</center>
</html>

