<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Intenrhsip</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Student Sign Up</h1>

		<body bgcolor="lightgrey">

			<form action="/studentsignup" autocomplete="on" method = "POST" enctype="multipart/form-data">


		  		Student ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="std_id"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="std_first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="std_last_name"><br><br>

		  		Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="std_pass"><br><br>

		  		Confirm Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="confirm_std_pass"><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Sign Up</button>

			</form>
			<a href="{{url_for('toStdLogin')}}"><button class="btn btn--primary btn--small u-fullwidth">Sign In here.</button></a>
		</body>

	</font>
</center>
</html>

