<!DOCTYPE html>
<html>
<head>
	<title>View Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Company Information</h1>

		<body bgcolor="lightgrey">

			<form action="/stdapplyintern" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<div>

                    
			  		Company ID:<br> {{ cmpId }} <br><br>

			  		Company Name:<br> {{ cmpName }} <br><br>

			  		Company Position Required:<br> {{ cmpPR }} <br><br>

			  		Position Details:<br> {{ cmpPD }} <br><br>

			  		Company Email:<br> {{ 	 }} <br><br>

			  		Company Address: <br> {{ cmpAddress }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Apply Internship</button>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>

